@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
h1, p  {
    margin: 0;
}
body {
    background-color: #eeece0;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.6s;
    padding: 20px 10px;
    height: 80px;
    z-index: 100000;
}

header.sticky {
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.808);
}

.nav_area {
    position: relative;
    left: 20%; /* Adjust as needed */
}

a {
    font-size: 20px;
    transition: 0.5s all ease;
}

header ul {
    list-style: none;
    margin: auto;
    display: flex;
    text-decoration: none;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 14px;
    transition: 0.6s;
}

ul li a:hover{
    color: rgb(236, 166, 16);
}



/* Home */

.titlePage {
    position: relative;
    top: 300px;
    left: 35%; /* Center horizontally */
    transform: translateX(-50%);
    text-align: center; /* Center text */
}


.special-title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 90px;
    font-style: bold; /* Corrected the style property */
    font-optical-sizing: auto;
    color: rgb(0, 0, 0);
}

.Imageko {
    position: relative;
    top: -180px;
    left: 65%; 
    transform: translateX(-50%);
    text-align: center;
}

.Imageko img {
    width: 500px;
    height: auto;
}

/* About */

.About {
    padding: 0.5rem 2rem;
    position: relative;
    top: 12px;
    text-align: center; 
}

.heading h1 {
    font-size: 50px;
}

.aboutmebody{
    
    font-weight: 400;
    font-size: 25px;
    font-style: normal; /* Corrected the style property */
    font-optical-sizing: auto;
    color: rgb(0, 0, 0);
}

.aboutmebody p{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 420px;
    top: 100px;

}

.works {
    padding: 0.5rem 2rem;
    position: relative;
    top: 400px;
    text-align: center; 
}

.worksheading h1{
    font-size: 50px;
}

.title1{
    padding: 0.5rem 2rem;
    position: relative;
    top: 160px;
    left: -600px;
}
.BMI{
    position: absolute;
    padding: 0.5rem 2rem;
    left: 220px;
    top: 300px;
}
.BMI img{
    width: auto;
    height: 400px;
}
.works P{
    padding: 0.5rem 2rem;
    position: absolute;
    text-align: justify;
    right: 10px;
    margin-right: auto;
    top: 450px;
    font-size: 22px;
}
.title2{
    padding: 0.5rem 2rem;
    position: absolute;
    top: 800px;
    right: 690px;
}

.Aviary{
    position: absolute;
    padding: 0.5rem 2rem;
    right: 150px;
    top: 850px;
}

.Aviary img{
    width: auto;
    height: 340px;
}
.resto {
    font-size: 22px;
    position: relative;
    left: 200px; 
    
    margin-top: 26%;
    max-width: 800px; 
    
}

.title3{
    padding: 0.5rem 2rem;
    position: absolute;
    top: 800px;

    margin-top: 25%;
    left: 180px;
}

.adve {
    font-size: 22px;
    position: relative;
    left: 180px; 
    margin-top: 52%;
    max-width: 800px; 
    
}
.Advent img{
    width: auto;
    height:600px;
    margin-top: 65%;
    position: relative;
    left: 400px;
    
}

/* Add this CSS in your stylesheet */

footer {
    
    padding: 20px;
    text-align: center;
    margin-top: 450px; /* Adjust the margin-top value to move the footer lower */
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
  }
  
  p {
    font-size: 20px;
    margin-top: 10px;
  }
  
  

